body
{
  font-family: Calibri;
  background-image: url('library.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
a
{
  color:#95483f;
}
#vessel
{

  margin-left: auto;
  margin-right: auto;
}
#header
{
  text-align: center;
  color: #F9F9F9;
  background-color: #E89B93;
}
#directory
{
  background-color: #DFB2A9;
  margin-left: 600px;
  margin-right: 600px
}
h2
{
  text-align: center;
  background-color: #95483f;
}
ul
{
  list-style-type: none;
}
#footer
{
  text-align: right;
}
